--extra-index-url https://download.pytorch.org/whl/cu118
-f https://download.openmmlab.com/mmcv/dist/cu118/torch2.1.0/index.html

torch==2.1.2+cu118
torchvision==0.16.2+cu118
torchaudio==2.1.2+cu118

mmengine==0.10.4
mmcv==2.1.0
fvcore
matplotlib
mmdet==2.23.0
moviepy
opencv-contrib-python
opencv-python
pymemcache
chumpy==0.70.0
scipy
numpy>=1.19.5
mmpose==1.2.0
tqdm
